<configuration>
  <system.runtime.remoting>
    <application>
      <channels>
        <channel ref="http" port="8085" secure="true" protectionLevel="EncryptAndSign" TokenlmpersonationLevel="Impersonation">
          <serverProviders>
            <formatter ref="binary" typeFilterLevel="Full"/>
          </serverProviders>
          <clientProviders>
            <formatter ref="binary"/>
          </clientProviders>
        </channel>
      </channels>
      <service>
        <activated
       type="_15_Game.Hello, _15_Game" />
      </service>
    </application>
  </system.runtime.remoting>
</configuration>